::placeholder {
  text-align: start;
  font-size: 16px;
  font-family: var(--font);
}
input::placeholder {
  color: gray;
}
input:hover::placeholder {
  color: rgb(0, 100, 206);
}
input::-moz-placeholder {
  color: gray;
}
input:hover::-moz-placeholder {
  color: rgb(0, 100, 206);
}
.main {
  margin: 0 auto 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  padding: var(--gap);
}

.wrapper {
  display: flex;
  flex-direction: row;
  margin-right: 100px;
  justify-content: center;
  box-sizing: border-box;
}
.subjects {
  margin-right: 50px;
  margin-left: 50px;
}
.subject_container {
  font-size: 18px;
  -webkit-box-flex: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.subject_container input[type='text'] {
  font-size: 16px;
  padding: 15px 0 15px 0;
  width: 90px;
  text-indent: 10px;
  background-color: transparent;
  color: var(--text-color);
  border-radius: 2.5px;
}
.subject_container input[type='text']:hover {
  transition: 0.1s ease-in-out;
  color: rgb(0, 100, 206);
}
.subject_container input[type='text']:focus {
  outline: none;
}
@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox_wrapper_13 input[type='checkbox'] {
    --active: #275efe;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, 0.3);
    --border: #bbc1e1;
    --border-hover: #275efe;
    --background: #fff;
    --disabled: #f6f8ff;
    --disabled-inner: #e1e6f9;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 15px;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .checkbox_wrapper_13 input[type='checkbox']:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
      opacity var(--d-o, 0.2s);
  }
  .checkbox_wrapper_13 input[type='checkbox']:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  .checkbox_wrapper_13 input[type='checkbox']:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .checkbox_wrapper_13 input[type='checkbox']:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .checkbox_wrapper_13 input[type='checkbox']:disabled + label {
    cursor: not-allowed;
  }
  .checkbox_wrapper_13
    input[type='checkbox']:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .checkbox_wrapper_13 input[type='checkbox']:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .checkbox_wrapper_13 input[type='checkbox']:not(.switch) {
    width: 21px;
  }
  .checkbox_wrapper_13 input[type='checkbox']:not(.switch):after {
    opacity: var(--o, 0);
  }
  .checkbox_wrapper_13 input[type='checkbox']:not(.switch):checked {
    --o: 1;
  }
  .checkbox_wrapper_13 input[type='checkbox'] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
  }

  .checkbox_wrapper_13 input[type='checkbox']:not(.switch) {
    border-radius: 7px;
  }
  .checkbox_wrapper_13 input[type='checkbox']:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  .checkbox_wrapper_13 input[type='checkbox']:not(.switch):checked {
    --r: 43deg;
  }
}

.checkbox_wrapper_13 * {
  box-sizing: inherit;
}
.checkbox_wrapper_13 *:before,
.checkbox_wrapper_13 *:after {
  box-sizing: inherit;
}
.subject_name {
  width: 200px;
}
.empty_space {
  display: block;
}
.button {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.2);
}
.copy_button {
  width: 90%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 5.5vh;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.2);
}
.button:hover,
.copy_button:hover {
  animation: gradientAnim 1s infinite;
}
@keyframes gradientAnim {
  from {
    background-position: 100% 0;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  to {
    background-position: 0% 100%;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

.button:focus {
  outline: none;
}
.line {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 79%;
  display: flex;
  border-bottom: 0.5px solid rgb(0, 0, 0, 0.3);
}
.head {
  line-height: 1.5;
  margin-left: 200px;
  margin-right: 175px;
  margin-bottom: 5px;
}
.head h1 {
  font-weight: bolder;
  font-size: 36px;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15%;
}

.modal_content {
  position: relative;
  background-color: #fefefe;
  padding: 30px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.modal_content h2 {
  font-size: 32px;
  font-weight: 800;
  margin: 0;
}
.modal_content p {
  margin-bottom: 30px;
}
.iconify_cross {
  position: absolute;
  border: none;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.5;
}
.iconify_cross:hover {
  opacity: 1;
}
.budget {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .head h1 {
    font-size: 22px;
  }
}
